APP_URL="https://exam.portal/"
APP_NAME="Exam Portal"
APP_FOOTER="SAAT Consulting | © 2021&nbsp; EXAM-PORTAL"
PORT=3009
HOST='localhost'
NODE_ENV="dev"
DIALECT='mongodb'
MAIL_NO_REPLY="noreply@exam.portal"
MONGO_URI="mongodb://localhost:27017/exam_portal"
EMAIL_API_FROM="SAAT Consulkting Exam Portal"
EMAIL_API_NO_REPLY="noreply@exam.portal"
EMAIL_PREVIEW_TEXT="Exam portal at its best!"
JWT_SECRET="423323234234WEWEWERW344"
JWT_COOKIE_EXPIRE=36000
JWT_EXPIRE="1d"
TRANSACTIONAL_EMAIL="noreply@exam.portal"
SUPPORT_EMAIL="support@exam.portal"
MAIL_LOGO_URL="https://reward.anambra.tax/assets/logos/logo.svg"
TOKEN_EXPIRE_MINUTES = 180000
